

h1{
	color: #3f5765;
	text-shadow: 2px 2px #2b3a42;
	font-family: 'Rock Salt', cursive;
}

h2{
	color: #3f5765;
	font-family: 'Amatic SC', cursive;
	font-weight: bold;
	font-size: 35px;
}

h4{
	color: #3f5765;
	font-family: 'Amatic SC', cursive;
	font-weight: bold;
	font-size: 20px;
}