.body {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
 
.titlearea div {
  position: relative;
}

.title {
  display: inline-block;
}

.picture img {
  height: 200px;
}

.picture {
  display: inline-block;
  position:relative;
  left: 30%; 
}

h1{
	color: #3f5765;
	text-shadow: 2px 2px #2b3a42;
	font-family: 'Rock Salt', cursive;
}

h2{
	position: relative;
	color: #3f5765;
	font-family: 'Amatic SC', cursive;
	font-weight: bold;
	font-size: 35px;
	left: 25px;
}

h4{
	position: relative;
	color: #3f5765;
	font-family: 'Amatic SC', cursive;
	font-weight: bold;
	font-size: 20px;
	left: 25px;
}

.content{

}