html{
	background-color: #efefef;
}

.header{
	position: relative;
	display: block;
	text-align: center;
	background-color: #bdd4de;
	top:-22px;
}	

.id{
	
	
}

.nav{
	
}

p{
	color: #3f5765;
	font-family: 'Source Sans Pro', sans-serif;
}

.footer {
    position:absolute;
    left:0;
    bottom:0px;
    height: 25px;
    width: 100%;
    margin: 0;
    background-color: #bdd4de;
}
