html{
	background-color: #FFFFFF;
}

div.id h1{
	text-align: left;
	margin-left: 5px;
	margin-bottom: -15px;
	font-family: 'Rock Salt', cursive;
	font-weight: bold;
	font-size: 30px;
	color: #333;
	text-shadow: 1px 2px 3px #333;
	-webkit-text-stroke: 1px #333;
}

.header{
	display: block;
	text-align: center;
	width:50%;
	transform:translateX(50%);
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
}	

/*this adds space between nav menu buttons*/
div.nav a{	
	margin-right: 50px;
	position: relative;
	margin-top: -25px;
	width: 75px;
	height: 25px;	
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	display: inline-block;
}
/*This is link pseudo-unvisited link,visited link,mouse over, and selected link*/
div.nav a:link{	
	color: #666;
}

div.nav a:visited{
	color: #999;
}

div.nav a:hover{
	color: #DE5A51;
	box-shadow: 3px 3px 3px #666 inset;
}

div.nav a:active{
	color: #333;	
}

.navwords {
	position: relative;
	top: 0px;
	font-family: 'Amatic SC', cursive;
	font-weight: bold;
	font-size: 20px;
}

hr.top-line {
	color: #333; 
	background: #333;
	margin-bottom: 5px;
	height: 2px;
}

hr.bot-line {
	color: #666; 
	background: #666;
	margin-top: -0px;
	margin-bottom: 1px;	
}

.content {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h1{
	font-family: 'Rock Salt', cursive;
	font-weight: bold;
	font-size: 20px;
	color: #666;
	text-shadow: 1px 2px 2px #666;
	-webkit-text-stroke: 1px #666;
}

h2{
	margin-top: -15px;
	position: relative;
	color: #DE5A51;
	font-family: 'Amatic SC', cursive;
	font-weight: bold;
	font-size: 35px;
	left: 25px;
}

h4{
	margin-top: -20px;
	position: relative;
	color: #666;
	font-family: 'Amatic SC', cursive;
	font-weight: bold;
	font-size: 20px;
	left: 25px;
}

p{
	color: #666;
	font-family: 'Source Sans Pro', sans-serif;
}


/*Till I get footer to stick to the bottom of the page when there is no content then I will remove it
.footer {
    bottom:0px;
    height: 25px;
    width: 50%;
    bottom: -15px;
    position:relative;
    background-color: #bdd4de;
    border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	transform:translateX(50%);
	text-align: center;
}
*/