div.body {
	position: absolute;
	background-color: #2b3a42;
	width: 50%;
	height: 50%;
	transform:translateX(50%);
	border-radius: 30px;
}
/*Here I am positioning the pictures*/
div.body img{
	position: absolute;
	left: 1%;
	top: 3%;
	width: 75%;
	height: 94%;
	border-radius: 30px;
}

/*Here I am working on the banner nav*/
div#banner{
	display: block;
	position: relative;
	text-align: center;
	width:20%;
	height: 100%;
	left: 80%;
	background-color: #bdd4de;
	border-radius: 30px;
}

div#banner a{
	text-align: center;
	display: block;
	position: relative;
	margin: 10% 0% 10% 0%;
	padding: 8px 35px 8px 35px;
	position: relative;
	width: 75px;
	height: 25px;	
	border-radius: 15px;
	display: inline-block;
}

div#banner a:link{	
	color: #efefef;
	background-color: #3f5765;
}

div#banner a:visited{
	color: #bdd4de;
}

div#banner a:hover{
	color: #ff530d;
	box-shadow: 3px 3px 3px #2b3a42 inset;

}

div#banner a:active{
	color: #ff530d;
	background-color: #2b3a42;
}

.bannav {
	position: relative;
	font-family: 'Amatic SC', cursive;
	font-weight: bold;
	font-size: 20px;
}

div.projects{
	text-align: center;
	margin-top: 3%;
	background-color: #bdd4de;
	border-radius: 30px;
}

div.projects a{
	display: inline-block;
	position: relative;
	width: 100px;
	height: 100px;
	padding: 10px;
	margin: 0% 5% 0% 5%;
	left: -5%;
	     
}

div.projects a img{
	position: absolute;
	display: inline-block;
	left: 0%;
	top: 0%;
	width: 175%;
	height: 94%;
	top:3%;
	border-radius: 20px;
}

