#home {
	position: relative;
	background-color: red;
	width: 75px;
	height: 25px;
	display: inline-block;
	border-top-left-radius: 1em 1em;
	border-top-right-radius: 1em 1em;
}

#about_me {
	position: relative;
	background-color: purple;
	width: 75px;
	height: 25px;
	display: inline-block;
	border-top-left-radius: 1em 1em;
	border-top-right-radius: 1em 1em;
}

#projects {
	position: relative;
	background-color: blue;
	width: 75px;
	height: 25px;
	display: inline-block;
	border-top-left-radius: 1em 1em;
	border-top-right-radius: 1em 1em;
}

#blogs {
	position: relative;;
	background-color: green;
	width: 75px;
	height: 25px;
	display: inline-block;
	border-top-left-radius: 1em 1em;
	border-top-right-radius: 1em 1em;
}