.panel-body.code {
  background: url("/images/coding.png");
}

.panel-body.design {
  background: url("/images/gaming.png");
}

.panel-body.video {
  background: url("/images/child.png");
}

a.projects:link, a.projects:visited {
  color: white;
}

a.projects:hover {
  color: black;
}


.panel-body {
  height: 15em;
}
