<footer>
  <p class="pull-right"><a href="#">Back to top</a></p>
  <p>&copy; 2015 John Dees &middot; <a href="mailto:John.Robert.Dees@gmail.com">Contact Me</a> &middot; <a href="https://www.linkedin.com/in/jdeesy" target="_blank">LinkedIn</a> &middot; <a href="https://github.com/Jdeesy" target="_blank">Github</a> </p>
</footer>