---
title: Code Projects
---

<div class="jumbotron">

  <div class="row featurette">
    <div class="col-md-7">
      <a href="https://timetris.herokuapp.com/welcome"><h2 class="featurette-heading">Timetris</h2></a>
      <p class="lead">Timetris is an app that connects with your Google Calendar, it looks at your calendar events and fills gaps in your daily schedule. Tasks you wouldn't normally put into your calendar, such as walking your dog or water you plants, can fill in gaps in your schedule. This allows users to stay on tasks and be more productive with their time. Not only that, but when you start a task on Timetris it updates your Google Calendar. This allows you to better keep track of what you have done and also allows you to plan better in the future. Timetris was developed in 7 days as a final project for Dev Bootcamp.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive center-block" src="/images/logo.png">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 col-md-push-5">
      <a href="https://smorgasboard.herokuapp.com/"><h2 class="featurette-heading">SmorgasBoard</h2></a>
      <p class="lead">SmorgasBoard is a social network for board game enthusiasts. Allowing users to come together to rate, and comment on board games. It also allows users to see what each person owns so they can plan game nights. SmorgasBoard was a "client project" we worked on at Dev Bootcamp. For this project, we had a client come in and wanted us to build a website to their specifications. This was a fun project and also gave us insight to what it is like working with a client. SmorgasBoard was also complete in two and a half days.</p>
    </div>
    <div class="col-md-5 col-md-pull-7">
      <img class="featurette-image img-responsive center-block" src="/images/smorgasboard.png">
    </div>
  </div>

  <hr class="featurette-divider">

    <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Black Death</h2>
      <p class="lead">Black Death was a 24 hour game jam. A game jam is where you build a game from scratch in a given time. In a game jam, you are given a theme and type of game. For Black Death the type of game was a platformer, the theme was medieval, and the enemies were the plague. I was the only one that worked on Black Death, and it was a great experience. I got to get back into game development after being away from it for such a long time. Also got to experience game development from a programmer's perspective. Primarily worked as a designer, but coding everything was just a blast. It isn't a pretty game, but I am happy with how much I got done in only 24 hours.</p> 
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive center-block" src="/images/blackdeath.png">
    </div>
  </div>
</div>



