---
title: Video Projects
---

<div class="jumbotron">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">PBS Children's Stories</h2>
    </div>
    <div class="col-md-7">
      <p class="lead">During my career, one of my most memorable moments was when I helped animate children’s stories. PBS held a contest each year, with Reading Rainbow, to get children more involved in reading. The contest allowed kids from 1st grade through 5th to write and illustrate their own stories. Even though Reading Rainbow is off the air, this contest is still being held. I was lucky enough to be apart of this experience. I took the stories the kids wrote along with their illustrations and voice overs, and brought their stories to life. Here are some of those animations.</p>
    </div>
    <div class="col-md-5">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/videoseries?list=PLDpdertgY-JNyXaiqGoVrvdehe62nHRkj" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 col-md-push-5">
      <h2 class="featurette-heading">Empower Campaign</h2>
    </div>
    <div class="col-md-7 col-md-push-5">
      <p class="lead">Another moment I am really proud of is my work with the Empower Campaign. The Empower Campaign is a holistic, community and school based initiative designed to help children, including those that are orphaned or vulnerable, receive an education in Africa. While I was in the Empower Campaign, we helped raise enough money to build two schools in Uganda. I was responsible with video and design aspects for the Empower Campaign. I helped raise awareness for the program and brought new faces into the program. Here are only two of the videos that I created while apart of it.</p>
    </div>
    <div class="col-md-5 col-md-pull-7">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/videoseries?list=PLDpdertgY-JO-vtIdRwAwIAgjB-NiDfaS" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">3D Animation</h2>
    </div>
    <div class="col-md-7">
      <p class="lead">During college, I create a lot of animations. I did both 2D and 3D animations. I helped create a children's show, animations for gaming, and school projects. Here are a few of the 3D animations I complete for school.</p>
    </div>
    <div class="col-md-5">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/xYlUVsPBtxg" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>