---
title: Game Projects
---

<div class="jumbotron">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Game 1</h2>
      <p class="lead">Words Here!</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive center-block" src="/images/logo.png">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 col-md-push-5">
      <h2 class="featurette-heading">Game 2</h2>
      <p class="lead">Words Here!</p>
    </div>
    <div class="col-md-5 col-md-pull-7">
      <img class="featurette-image img-responsive center-block" src="/images/smorgasboard.png">
    </div>
  </div>

  <hr class="featurette-divider">

    <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Game 3</h2>
      <p class="lead">Words Here!</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive center-block" src="/images/blackdeath.png">
    </div>
  </div>
</div>