---
title: Kitchen vs. Table
---

<div class="jumbotron">
  <div class="titlearea">
    <div class="title">
      <h1>DevBootCamp</h1>
      <h2>Kitchen vs. Table</h2>
      <h4>January 17, 2015</h4>
    </div>
  </div>


  <p>
    Based on the video and what I have read about DevBootCamp (DBC) this will be an interesting experience. DBC sounds like a lot. They are going to teach us programming, how to improve EQ, meditation, yoga, how to improve wellbeing all in a short timespan. My impression of DBC is that its going to be a lot of information to take in and a lot of effort for everyone involved. However, the more effort put into it the more you will get out of it.

  </p>
  <p>
      I am excited about a lot of things at DBC. I'm mainly excited to learn Ruby. I have always wanted to learn programming. I would constantly saving different programming sites or tutorials on my computer but I never got anywhere with it. I think DBC will be the motivation I need to learn programming. I am also excited about learning this as a group, we are all learning this together and can help one another if there are any problems.
  </p>
  <p>
      There are a few things I am nervous about. Most are little things like never doing yoga or meditation before, I don't want to end up looking like a fool. The main issue I am nervous about is the peer system. Even though I am excited that we are all learning this together, there are still a lot of issues that come with that. For instance, I am usually shy and I don't like hurting or stepping on peoples toes if you know what I mean. I'm usually easy going and go with the flow. These qualities may hurt me with how DBC sets up the peer system. I have to step up and be the drive sometimes. I will also have to give honest helpful feedback without sugarcoating it. These are things I will need to work on
  </p>
</div>
