---
title: Stereotype Threat
---

<div class="content">
  <div class="titlearea">
    <div class="title">
      <h1>Stereotype Threat</h1>
      <!--<h2></h2>-->
      <h4>February 17, 2015</h4>
    </div>
  </div>

  <p>
  Stereotype threats is the idea that a person's performance can be affected negatively when the person is aware of negative stereotypes of their identity. Basically what this means is when you are aware of aspects of yourself and those aspects have negative connotations, you can have a negative impact on your performance. These aspects of our identity can be anything from age, gender, sexual orientation, race, and probably many others. There have been a lot of studies on stereotype threats. Lots of good information and talks from Claude Steele, I would look him up if you wanted to do more research on this topic.  
  </p>
  <p>
  This is a hard topic for me to talk about for many reasons. The first is because I hate being labeled and I try not to label anyone else. I like try and form an opinion based on how a person acts, and what they say. Another reason it is hard to talk about is because stereotype threat hasn't affected me very often. Like I already said, I don't label myself, I don't really fit a specific identity. I have that mindset. And that might be a privilege mindset because if I had to label myself, I am a straight white male. So I don't feel like stereotype threats happen to me as much.        
  </p>
  <p>
  Now don't get me wrong, I have had some instances where stereotype threats have affected me. The stereotype threat that has affected me the most is also the last reason why it is hard to talk about these issue. Straight white men are considered privileged. If we talk about race issues, we are labeled racist. If we talk about gender issues, we are misogynists. It doesn't even matter what you say, you are either labeled something negatively or told you don't know what you are talking about. 
  </p>
  <p>
  Obviously the last paragraph was exaggerated. But I have seen this behavior a lot, and it isn't even directly targeted at a particular group. Instead of talking about a topic and having a discussion a sharing of idea, it has now become this argument. Its like a battle ground where its us versus them. If you don't agree with you then you are with them. Its very toxic. And it everywhere in every aspect of life. I just don't understand it, has this problem always been here or because technology has connected all of us that there is more conflict of ideas? 
  </p>
  <p>
  I would love to see studies of this and the reverse effect. Does positive connotations give positive results, and how can we reduce the impact of stereotype threat?
  </p>
</div>