---
title: Conflict
---

<div class="jumbotron">
  <div class="titlearea">
    <div class="title">
      <h1>Conflict</h1>
      <!--<h2></h2>-->
      <h4>March 8, 2015</h4>
    </div>
  </div>
 
  <p>
  This weeks blog we are supposed to talk about conflict. We are supposed to talk about one time we had conflict, the source of the conflict, basic emotions, and other things in this blog. So lets get started.
  </p>
  <p>
  One time that I had conflict was with my sister when we were playing a boardgame. Now competion can cause people to have conflict but this was nothing like that. We were actually all playing a game where we work together, no competition. We had five people playing including me. I had played this game with everyone except my sister. I had everyone watch a 30 minute video before hand to learn all the rules, but for this game no one wanted to watch the video and said that we can teach the rules to my sister. I tried saying that the video is a better teach for me, but no one would listen.
  </p>
  <p>
  So we get through explaining the rules to my sister, and we started to play. Now this game is set up into rounds and turns; one round is completed after each person gets an individual turn. This particular game took forever. No one was paying attention during other players turns. No one was helping make desicions, so it just took forever to finish. Not only that but the whole time my sister was complaining saying "This game is boring", "I don't know what I am doing" or "This game is taking to long". I was basically the only one helping during each person turns, and only person placing/moving game pieces. I was getting aggriavated by their attitudes, mainly my sister's, and we just quit playing.
  </p>
  <p>
  I felt really annoyed by her complaining. I felt disrespected not by their lack of attention (because I understand some games aren't foreverone) but because I felt like I wasn't being heard. I would repeate myself two or three times to get something done. If I went back to play a game with them, I would force them to watch the tutorial or even a quick overview of the game, and make them decided if they really want to play or not.
  </p>
</div>
