---
title: Questions
---

<div class="content">
  <div class="titlearea">
    <div class="title">
      <h1>Questions</h1>
      <h2>How to ask Good Questions</h2>
      <h4>March 15, 2015</h4>
    </div>
  </div>

  <p>
  This week we are talking about questions, more specifically how to ask the perfect question. Have you ever had a problem and asked the question online and either got no responses or responses that didn't really answer your question? Well I will be talking about some tips on asking the best questions to get the answers you need.
  </p>
  <p>
  Before you go to stack overflow or another community to ask your question, you need to do research. A lot of times when I had a question, I went to look up information online and the questions I had were already answered. You can do some quick searches to see if anyone else already asked similar questions. And even if the question isn't asked, the research will most likely help you with clarifying your question. 
  </p>
  <p>
  Now lets talk about the title. Most people suggest writing the title last, that way you got your ideas out and can write a specific title for your problem. Your title needs to be short and sweet, it needs to be an elevator pitch. Think of this as you only have the few moments in an elevator to ask someone your questions. It needs to be specific enough so they can answer it but can't be to long or they will leave the elevator before you finish. Also if you have a problem with a specific programming language, include it in your title if you can do so naturally. Don't make it stand out like a header.
  </p>
  <p>
  Now onto the body of the question. First you should always rehash the problem for people, just talk to them about your problem before you jump straight into the code. What were you trying to do and what was the outcome. This helps people get into the right mindset and also helps if there is a better way to solve your problem. Next make sure you post some of your code. You only want to post the code that is giving you the problems, not your entire program. This is so people don't have to search your code for the errors, and so they can just copy and past to try and reproduce the problem. You may also think about using a program like <a href="http://jsfiddle.net/">jsfiddle.net</a> or <a href="http://collabedit.com/">collabedit.com/</a> so they can run the program and see the same errors as you. 
  </p>
  <p>
  Lastly some general tips. Proof-read, Proof-read, Proof-read. Proof-read everything that you have posted. It may not seem like much but it does make a big difference with how you present yourself and your problem. Make sure after you get some responses to either post feedback (as in this solved the problem) or upvote solutions. You want to engage the people answering your problem. No one wants to post a solution if the original poster isn't even taking the time to read them. Also this will help other people how have the same problem.   
  </p>
</div>
