---
title: CSS
---

<div class="content">
  <div class="titlearea">
    <div class="title">
      <h1>Understanding CSS</h1>
      <h2>Difference between Inline and Inline-Block</h2>
      <h4>January 24, 2015</h4>
    </div>
  </div>

  <p>
  Earlier this week, I was working on the pairing challenge of creating a blog template. During this challenge my partner asked me what the difference between inline, block and inline-block. Off the top of my head I couldn’t describe what the difference was in words. I knew what they did, I had used them in my solo challenge, but I couldn’t express what they did properly. So that is why I am writing this blog.
  </p>
  <p>
  First lets understand the difference between inline and block. Displaying elements inline means that they arranged <span style="font-weight: bold;">in</span> the same <span style="font-weight: bold;">line</span>. Not only that but inline elements <span style="font-style: italic;">cannot</span> have a height, width or a vertical margin. Now lets talk about block. Displaying elements with block means you are <span style="font-weight: bold;">block</span>ing them off from other elements, it is putting a break in to separate it from other elements. Unlike inline, elements with block can have a height, width, and a vertical margin. 
  </p>
  <p>
  Inline-block takes the best of both worlds. It allows you to display elements on the same line while still allowing them to have  a height, width, and a vertical margin. An example of how you can use this would be to place buttons all on the same line, while giving them a height and width of 100 pixels. I hope that this gives you a better understanding of how inline, block, and inline-block work.
  </p>
</div>