---
title: Website
---

<div class="jumbotron">
  <div class="titlearea">
    <div class="title">
      <h1>Website</h1>
      <h2>Updating my Website</h2>
      <h4>March 15, 2015</h4>
    </div>
  </div>

  <p>
  This week we had to update our websites and then write a blog about the process. I found the process was both fun and challenging. I will first talk about the why I had fun then I will talk about the challenges.
  </p>
  <p>
  This process was fun because it needed to be done. I hated the color scheme and the layout of my old website. I found it to be somewhat childish. I liked it originally when I first did it, but after looking at more examples just started to hate it. I like the colors a lot better now, they look more professional. I also had fun because I like messing around with stuff, tinkering with something to get it to work.
  </p>
  <p>
  There were two main challenges when I was updating this website; lack of content and working with old code. The lack of content has been a challenge since the beginning. I don't know what all we are going to put in the website, I don't know what all I want to put in the website, and I don't know what all others would want to see on the website. I have placeholders for stuff I think I would like on my website, like projects, but I don't have content to fill there (except for some personal projects or stuff from when I was doing game design). The other problem was old code. I found it to sometimes be a problem. It felt like it was getting in the way. When I changed something I had to make sure it would work how I wanted it to with all the different pages on my site. I think when I have to update this site again (after I added more content and replaced my placeholders) I am going to completely start over, start from scratch. I think I can organize everything better that way.
  </p>
  <p>
  Lastly I want to talk about things I still need to improve. I still need to add some content such as the projects (filling out the projects and also the placeholder banner on the homepage) or even the information on the about me page. Another problem is that sometimes the words on specific pages shift a few pixels. Everything just shifts from one page to another, and it only does it on specific pages. Also the my name at the top looks different on specific pages (the homepage looks different from everything else). I don't know why this is but like I said if I start from scratch next time I don't think I will have those problems. 
  </p>
</div>