---
title: About JDeesy
---

<div class="jumbotron">
  <h1>About Me</h1>

  <div class="row featurette">
    <div class="col-md-7 col-md-push-5">
      <h2 class="featurette-heading">John Dees</h2>
      <h3 class="text-muted">Full-Stack Web Developer</h3>
      <p class="lead">I am a full-stack developer with a background in game design, animation, and video editing. The ability to quickly learn the skills needed for many situations is one of my best traits. I am passionate about learning new things, which allows me to bring that knowledge to whatever project I am working on. Playing and creating games has always been a joy in my life, and I would like to bring that joy to others.</p>
    </div>
    <div class="col-md-4 col-md-pull-7">
      <img class="featurette-image img-responsive center-block" src="/images/profile_pic.jpeg">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h3 class="text-muted">Career</h3>
      <p class="lead">My career journey encompasses a range of skills and focuses, you could say I'm a jack-of-all-trades. My motivation has always been about making people happy. I want to create something that people will enjoy using.</p>
      <p>Recently I have become a Full-Stack Developer after completing Dev Bootcamp. At Dev Bootcamp, I learned many new skills such as Ruby on Rails, JavaScript, and RSpec. More importantly, I learned how to pick up new technologies in a short amount of time. This new skill we allow me to grow as a developer and in all aspects of life.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive center-block" src="/images/logo.png">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 col-md-push-5">
      <h3 class="text-muted">Why I changed careers?</h3>
      <p class="lead">While my work has always been focused on helping people and making the community a happier place, I knew I wanted to do more to give back. This is where developing comes in. The knowledge I have gained from developing not only allows me to create meaningful things, but it also allows me to view situations or idea from a new perspective. I can bring this knowledge that I gained and improve designs.</p>
    </div>
    <div class="col-md-5 col-md-pull-7">
      <img class="featurette-image img-responsive center-block" src="/images/empower.png">
    </div>
  </div>
</div>
