---
title: JDeesy Blogs
---

<div class="jumbotron">
  <h1>Blogs</h1>
  <div class="container">

    <div class="col-sm-6 col-xs-12">
      <div class="list-group">
        <span class="list-group-item active">Technical Blogs</span>
        <a class="list-group-item" href="/blogs/t1-git-blog.html">Git Blog</a>
        <a class="list-group-item" href="/blogs/t2-css-design.html">CSS Design</a>
        <a class="list-group-item" href="/blogs/t3-arrays-hashes.html">Arrays and Hashes</a>
        <a class="list-group-item" href="/blogs/t4-enumerable-methods.html">Map Method</a>
        <a class="list-group-item" href="/blogs/t5-ruby-classes.html">Ruby Classes</a>
        <a class="list-group-item" href="/blogs/t6-oop-concepts.html">OOP Concepts</a>
        <a class="list-group-item" href="/blogs/t7-JavaScript.html">JavaScript and Ruby</a>
        <a class="list-group-item" href="/blogs/t8-tech.html">Tech Blog</a>
        <a class="list-group-item" href="/blogs/t9-website.html">Website</a>
      </div>
    </div>


    <div class="col-sm-6 col-xs-12">
      <div class="list-group">
        <span class="list-group-item active">Cultural Blogs</span>
        <a class="list-group-item" href="/blogs/c1-chefs-kitchen.html">Kitchen Blog</a>   
        <a class="list-group-item" href="/blogs/c3-thinking-style.html">Thinking Style</a>
        <a class="list-group-item" href="/blogs/c4-tech-issues.html">Tech Issues</a>
        <a class="list-group-item" href="/blogs/c5-feedback.html">Feedback</a>
        <a class="list-group-item" href="/blogs/c6-stereotype-threat.html">Stereotype Threat</a>
        <a class="list-group-item" href="/blogs/c7-values.html">Exploring Your Values</a>
        <a class="list-group-item" href="/blogs/c8-conflict.html">Conflict</a>
        <a class="list-group-item" href="/blogs/c9-questions.html">Questions</a>
      </div>
    </div>

  </div>
</div>
