---
title: JDeesy Projects
---

<div class="jumbotron">
  <div class="container">

    <div class="col-sm-4 col-xs-12 report-panel">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h5>Coding</h5>
        </div>
        <a class="projects" href="/projects/codes/index.html">
          <div class="panel-body code">
            <p>This is code junk</p>
          </div>
        </a>
      </div>
    </div>

    <div class="col-md-4 col-sm-4 col-xs-12 report-panel">
      <div class="panel panel-default">
        <div class="panel-heading">
         <h5>Game Design</h5>
        </div>
        <a class="projects" href="/projects/games/index.html">
          <div class="panel-body design">
            <p>This is games junk</p>
          </div>
        </a>
      </div>
    </div>

    <div class="col-md-4 col-sm-4 col-xs-12 report-panel">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h5>Video & Animation</h5>
        </div>
        <a class="projects" href="/projects/videos/index.html">
          <div class="panel-body video">
            <p>This is video junk</p>
          </div>
        </a>
      </div>
    </div>

  </div>
</div>
